{% extends "base.html" %}
{% block main_content %}
{% if config['ARTIFACTS_BASE_URL'] or config['LEGACY_BASE_URL'] %}
{% if config['LEGACY_BASE_URL'] and slot.legacy %}<p><a href="{{ '{}/{}'.format(config['LEGACY_BASE_URL'], slot.id) }}"
        target="_blank">Browse EOS folder</a></p>{% endif -%}
<ul>
    {% for project in slot.projects %}
    {% if project.enabled -%}
    <li>{{project.name}}
        <ul>
            <li>{% if project.checkout.artifact %}<a
                    href="{{url_for('download', f=project.checkout.artifact, n=project.name) + ('&legacy' if slot.legacy else '')}}"
                    title="download checkout artifact">sources</a>{% else %}<em>no source archive</em>{% endif %}
                (<a href="{{url_for('get_checkout_log', flavour=flavour, slot=slot.name, build_id=slot.build_id, project=project.name)}}"
                    title="download checkout report">checkout-report.json</a>)
            </li>
            {% if not project.no_build %}
            {% for platform, results in project.results.items() %}
            {% if results.build or results.tests %}
            <li>{{platform}}:
                {% if results.build %}{% if results.build.artifact %}<a
                    href="{{url_for('download', f=results.build.artifact, n='%s.%s' % (project.name, platform)) + ('&legacy' if slot.legacy else '')}}"
                    title="download build artifact">build</a>{% else %}<em>no build archive</em>{% endif %}
                (<a href="{{url_for('get_build_log', flavour=flavour, slot=slot.name, build_id=slot.build_id, project=project.name, platform=platform)}}"
                    title="download build report">build-report.json</a>){% endif %}
                {% if not project.no_test and results.tests -%}
                {%- if slot.build_tool == "cmt" -%}
                <a href="{{url_for('get_tests_summary', flavour=flavour, slot=slot.name, build_id=slot.build_id, project=project.name, platform=platform)}}"
                    title="download tests report">tests-report.json</a>
                {%- else -%}
                <a href="{{url_for('get_tests_log', flavour=flavour, slot=slot.name, build_id=slot.build_id, project=project.name, platform=platform)}}"
                    title="download tests report">Test.xml</a>
                {%- endif -%}
                {%- endif %}
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </li>
    {%- endif %}
    {% endfor %}
</ul>
{% else %}
no artifacts repository defined
{% endif %}
{% endblock %}
