{% extends "log_base.html" %}

{% block log_type %}Build log{% endblock %}

{% block main_content %}
{% if report %}
<h3>Links</h3>
<ul>
    <li><a href="{{url_for('checkout', flavour=flavour, slot=slot, build_id=build_id, project=project)}}">
            checkout report
        </a></li>
    <li><a
            href="{{url_for('get_build_log', flavour=flavour, slot=slot, build_id=build_id, project=project, platform=platform)}}">
            raw build report
        </a></li>
    {% if report.environment and report.environment.BUILD_URL -%}
    <li><a href="{{report.environment.BUILD_URL}}" target="_blank">build job (Jenkins)</a></li>
    {%- endif -%}
</ul>
<h3>Summary</h3>
{% if report.issues.errors or report.issues.warnings or report.issues.coverity -%}
{% for issue_type, issue_class, issue_title in [("errors", "danger", "errors"), ("warnings", "warning", "warnings"),
("coverity", "warning", "coverity messages")] if report.issues[issue_type] %}
<div class="panel panel-{{issue_class}}">
    <div class="panel-heading" onclick="$('#{{issue_type}}_panel').toggle();" style="cursor:pointer">
        {% if report.issues[issue_title]|length != report[issue_title|replace(' ', '_')] -%}
        <span class="panel-title"><strong>{{report.issues[issue_type]|length}}</strong> unique {{issue_title}}
            {%- with counted = report.issues[issue_type]|count_issues -%}
            {%- if counted == report[issue_title] %}
            ({{report[issue_title]}} total occurrences)
            {%- else %}
            (considering only {{counted}} out of {{report[issue_title]}} total occurrences)
            {%- endif -%}
            {%- endwith -%}
        </span>
        {%- else -%}
        <span class="panel-title"><strong>{{report.issues[issue_type]|length}}</strong> {{issue_title}}</span>
        {%- endif %}
    </div>
    <div class="panel-body" id="{{issue_type}}_panel" style="display: none;">
        {% for desc, occurrences in report.issues[issue_type] | issue_locations %}
        <div style="margin-top: 1em;">
            {% with section, anchor, title = occurrences[0] %}
            <a href="#{{anchor}}" onclick="toggle_section('{{section}}', true, '#{{anchor}}');" title="{{title}}">
                <div class="text-{{issue_class}}">
                    <samp>{{desc}}</samp>
                </div>
            </a>{% endwith %}
            {% if occurrences | length > 1 %}
            <span style="margin-left: 4em;">{{occurrences | length}} occurrences:
                {% for section, anchor, title in occurrences %}
                <a href="#{{anchor}}" onclick="toggle_section('{{section}}', true, '#{{anchor}}');">{{title}}</a>
                {%- if not loop.last %},{% endif %}
                {% endfor %}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{%- else %}<div class="alert alert-success">No issues to report</div>{% endif -%}
<h3>Environment</h3>
<div class="panel panel-info">
    <div class="panel-heading" onclick="$('#environment_panel').toggle();" style="cursor:pointer">
        <span class="panel-title">Environment variables</span>
    </div>
    <div class="panel-body" id="environment_panel" style="display: none;">
        <table class="table table-striped environment">
            <tbody>
                {% for name in report.environment|sort -%}
                <tr>
                    <th>{{name}}</th>
                    <td>{{report.environment[name]|highlight_path_fragments}}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading" onclick="$('#cpu_panel').toggle();" style="cursor:pointer">
        <span class="panel-title">CPU info</span>
    </div>
    <div class="panel-body" id="cpu_panel" style="display: none;">
        <table class="table table-striped environment">
            <tbody>
                {% for name in report.cpu|sort -%}
                <tr>
                    <th>{{name}}</th>
                    <td>{{report.cpu[name]|highlight_path_fragments}}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="full-log">
    <h3>Full log
        {%- if report.issues.errors or report.issues.warnings %}
        <button class="btn" onclick="$('#full-log .panel-info').toggle();">hide/show clean
            sections</button>
        {%- endif -%}
    </h3>
    {% with panel_class = {"errors": "danger", "warnings": "warning"} %}
    {% for section in report.sections %}
    <div class="panel panel-{{'danger' if section.errors else 'warning' if section.warnings else 'info' }}">
        <div class="panel-heading" onclick="toggle_section('{{section.id}}');" style="cursor:pointer">
            <span class="panel-title">{{section.desc}}</span>
            <span>
                {% if section.errors or section.warnings%}({% endif %}
                {% if section.errors %}{{ section.errors }} errors{% endif %}
                {% if section.warnings %}{{ section.warnings }} warnings{% endif %}
                {% if section.errors or section.warnings %}){% endif %}
            </span>
        </div>
        <div class="panel-body section-body" id="{{section.id}}" style="display: none;">
            {%- if full -%}
            {{section.html|safe}}
            {%- else -%}
            <span class="spinner">loading...</span>
            {%- endif -%}
        </div>
    </div>
    {% endfor %}
    {% endwith %}
</div>
{% else %}
<div class="alert alert-danger">Build logs cannot be retrieved!</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script>
    function toggle_section(section_id, show, anchor) {
        var section = $("#" + section_id.replace(/\//g, '\\/'));
        section.toggle(show);
        var spinner = $(".spinner", section);
        if (spinner.length == 0) { // page fully loaded, just jump the anchor
            if (anchor) $(location).attr("hash", anchor);
        } else {
            // load the section and move to the anchor if needed
            spinner.trigger("doLoad", [anchor]);
        }
    }
    $(function () {
        $("#full-log .spinner").on("doLoad", function (event, anchor) {
            var parent = $(this).parent();
            parent.load("?section_body=" + parent.attr("id"), function () {
                // jump to the anchor now that it's visible
                if (anchor) $(location).attr("hash", anchor);
            });
            return false;
        });

        var anchor = $(location).attr("hash");
        if (anchor) {
            // show the section and jump to the line
            toggle_section(anchor.replace(/^#/, '').replace(/_[0-9]+$/, ''), true, anchor);
        }
    });
</script>
{% endblock %}
