{% extends "log_base.html" %}

{% block log_type %}Checkout log{% endblock %}

{% block main_content %}
{% if report %}
<h3>Links</h3>
<ul id="useful-links">
    <li><a href="{{url_for('get_checkout_log', flavour=flavour, slot=slot, build_id=build_id, project=project)}}">
            raw checkout report
        </a></li>
    {% if report.gitlab_id -%}
    <li><a href="https://gitlab.cern.ch/{{report.gitlab_id}}" target="_blank">
            Gitlab project
        </a></li>
    {%- endif %}
</ul>
<h3>Full log</h3>
{% with style_map = {'warning': 'alert-warning', 'error': 'alert-danger', 'info': '', 'debug': ''} %}
<table class="table table-striped log">
    {% if report.packages %}
    {% for package in report.packages %}
    <tr style="background-color: transparent;">
        <td colspan="2" style="border-top: none;"></td>
        <th style="border-top: none;">{% if package.gitlab_id -%}
            <a href="https://gitlab.cern.ch/{{package.gitlab_id}}">{{package.project.name}}</a>
            {%- else -%}
            {{package.project.name}}
            {%- endif %}/{{package.project.version}}
        </th>
    </tr>
    {% for record in package.records -%}
    <tr id="{{package.project.name}}-L{{loop.index}}"
        class="{{style_map[record.level]}}{% if record.type == 'stdout' %} collapsed{% endif %}">
        <th class="index" scope="row"><a href="#{{package.project.name}}-L{{loop.index}}">{{loop.index}}</a></th>
        <td>{% if record.type == 'stdout' %}<a onclick="
            toggle_stdout('{{package.project.name}}-L{{loop.index}}')"><span
                    class="glyphicon glyphicon-expand"></span></a>{% endif %}</td>
        <td>
            <pre {% if record.type == 'stdout' %}class="stdout collapsed"
                onclick="toggle_stdout('{{package.project.name}}-L{{loop.index}}')"
                {% else %}{% if record.text.startswith('(') %}class="console-cmd" {% endif %}
                {% endif %}>{{record.text|replace(report.cwd, ".")|gitlab_links(package.gitlab_id)}}</pre>
        </td>
    </tr>
    {% endfor %}
    {% endfor %}
    <tr style="background-color: transparent;">
        <td colspan="2" style="border-top: none;"></td>
        <th style="border-top: none;">{{project}}</th>
    </tr>
    {% endif %}
    {% for record in report.records -%}
    <tr id="L{{loop.index}}" class="{{style_map[record.level]}}{% if record.type == 'stdout' %} collapsed{% endif %}">
        <th class="index" scope="row"><a href="#L{{loop.index}}">{{loop.index}}</a></th>
        <td>{% if record.type == 'stdout' %}<a onclick="toggle_stdout('L{{loop.index}}')"><span
                    class="glyphicon glyphicon-expand"></span></a>{% endif %}</td>
        <td>
            <pre {% if record.type == 'stdout' %}class="stdout collapsed" onclick="toggle_stdout('L{{loop.index}}')"
                {% else %}{% if record.text.startswith('(') %}class="console-cmd" {% endif %}
                {% endif %}>{{record.text|replace(report.cwd, ".")|gitlab_links(report.gitlab_id)}}</pre>
        </td>
    </tr>
    {%- endfor %}
</table>
{% endwith %}
{% else %}
<div class="alert alert-danger">Checkout logs cannot be retrieved!</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script>
    function toggle_stdout(id) {
        var row = $("#" + id);
        if (row.hasClass("collapsed")) {
            row.find("span.glyphicon").removeClass("glyphicon-expand").addClass("glyphicon-collapse-down");
            row.find("pre.stdout").removeClass("collapsed");
            row.removeClass("collapsed");
        } else {
            row.find("span.glyphicon").removeClass("glyphicon-collapse-down").addClass("glyphicon-expand");
            row.find("pre.stdout").addClass("collapsed");
            row.addClass("collapsed");
        }
    }
    // add a summary table of the applied (or not) merge requests in the links section at the top
    $(function () {
        var MRs = $("a.merge-request");
        if (MRs.length > 0) {
            $("#useful-links").append('<li>merge requests<ul id="merge-requests-list"></ul></li>');
            var lines = {};
            MRs.each(function () {
                var link = $(this);
                if (link.parent().text().match(/^applying merge request/)) {
                    lines[link.text()] = link.parents("tr").attr("id");
                }
            });
            console.log(lines);
            MRs.each(function () {
                var link = $(this);
                var text = link.parent().text();
                if (text.match(/^(not )?merged commit/)) {
                    var el = $('<li><span><span class="glyphicon"></span> <a href="' + link.attr("href") + '" target="_blank">' + link.text() + '</a>: ' + link.attr("data-original-title") + '</span></li>');
                    if (text.match(/^not/)) {
                        $("span.glyphicon", el).addClass("glyphicon-remove text-danger").parent().addClass("text-warning").css("text-decoration", "underline wavy");
                    } else {
                        $("span.glyphicon", el).addClass("glyphicon-ok text-success").parent().addClass("text-success");
                    }
                    if (lines[link.text()]) el.append(' <span style="font-size: small;">(<a href="#' + lines[link.text()] + '">see log</a>)</span>');
                    $("#merge-requests-list").append(el);
                }
            });
        }
    })
</script>
{% endblock %}
