{% extends "base.html" %}

{% block extra_menu_head %}
<li>
    <a href="https://lblhcbpr.cern.ch" target="_blank">LHCbPR</a>
</li>
<li>
    <a href="https://twiki.cern.ch/twiki/bin/view/LHCb/LHCbPR" target="_blank">LHCbPR documentation</a>
</li>
{% endblock %}

{% block main_content %}
{% with messages = get_flashed_messages(category_filter=["started_tests"]) %}
{% if messages %}
<div class="flashes">
    Started tests:
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

{%- if "builder" in session.get("roles", []) -%}
<div class="pull-right"><a href="{{url_for('start_periodic_test')}}" class="btn btn-info">Start test</a></div>
{%- endif -%}
<div>
    <table class="table table-striped table-white with-responsive-wrapper table-bordered" id="dataTable"
        style="display: none;">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Date</th>
                <th>Slot Name</th>
                <th>Build id</th>
                <th class="col-md-8">Description</th>
            </tr>
        </thead>
        <tbody>
            {%- for entry in entries -%}
            {%- with slot, build_id = entry.app_version.split('.', 1) -%}
            <tr class="{{ entry.cls }}">
                <td>{{ entry.app_name }}</td>
                <td>{{ entry.time_start.split()[0] }}</td>
                <td>{{ slot }}</td>
                <td>{{ build_id }}</td>
                <td style="text-align:left">
                    <ul>
                        <li><strong>Status:</strong> {{ entry.status_display }}</li>
                        <li>
                            <strong>Build url:</strong>{% if entry.build_url %} <a href="{{ entry.build_url }}"
                                target="_blank"> {{ entry.build_url }}</a>{%
                            endif %}
                        </li>
                        <li>
                            <strong>Run log:</strong>{% if entry.run_log %} <a href="{{ entry.run_log }}"
                                target="_blank">
                                {{ entry.run_log }}</a>{% endif %}
                        </li>
                        <li>
                            <strong>Handler log:</strong>{% if entry.collect_log %} <a href="{{ entry.collect_log }}"
                                target="_blank"> {{ entry.collect_log
                                }}</a>{%
                            endif %}
                        </li>
                        <li>
                            <strong>PR url:</strong>{% if entry.lhcbpr_url %} <a href="{{ entry.lhcbpr_url }}"
                                target="_blank"> {{ entry.lhcbpr_url }}</a>{%
                            endif %}
                        </li>
                        <li>
                            <strong>Application version time:</strong>{% if entry.app_version_datetime %}
                            {{ entry.app_version_datetime }}{% endif %}
                        </li>
                        <li>
                            <strong>Started time:</strong>{% if entry.time_start %} {{ entry.time_start }}{%
                            endif %}
                        </li>
                        <li>
                            <strong>End time:</strong>{% if entry.time_end %} {{ entry.time_end }}{% endif
                            %}
                        </li>
                        <li>
                            <strong>Options:</strong> {{ entry.opt_name }} <br />
                            {% if entry.opt_content %}
                            <i> {{ entry.opt_content }}</i>
                            {% endif %}
                        </li>
                        {% if entry.CMTCONFIG %}
                        <li>
                            <strong>CMT config</strong>
                            <ul>
                                <li>
                                    Platform: <i> {{entry.CMTCONFIG.platform }}</i>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if entry.HOST %}
                        <li>
                            <strong>Host info</strong>
                            <ul>
                                <li>Cpu info: <i> {{ entry.HOST.cpu_info }}</i></li>
                                <li>Hostname: <i> {{ entry.HOST.hostname }}</i></li>
                                <li>Memory info: <i> {{ entry.HOST.memoryinfo }}</i></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if entry.handlers_info %}
                        <li>
                            <strong>Handlers info</strong>
                            <ul>
                                {% for handler in entry.handlers_info %}
                                <li>Handler: <i> {{ handler.handler }} - {{ handler.successful }}</i></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            {%- endwith -%}
            {%- endfor -%}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>
    $("#dataTable").DataTable({
        "order": [[1, "desc"]]
    });
    $("#dataTable").show();

    $(".flashes").delay(10000).hide(300);
</script>
{% endblock %}
