{% extends "base.html" %}
{% block main_content %}
{% if config.slots -%}
<form method="post">
    <input type="hidden" name="flavour" value="{{flavour}}">
    {% if config.commit %}<input type="hidden" name="commit" value="{{config.commit}}">{% endif %}
    <div class="form-group">
        <label for="slots">Slots to start</label><br>
        <select multiple id="slots" name="slots" class="form-control">
            {% for slot in config.slots %}
            <option value="{{slot}}" {{ "selected" if requested_slot==slot else "" }}>{{slot}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" class="form-check-input" id="use_custom_slot" name="use_custom_slot">
        {% if not rebuild -%}
        <label for="custom_slot" id="custom-slot-label">Custom slot definition (JSON)</label>
        <span class="custom-slot-control"><span id="json_error_message" class="alert-danger"
                style="margin-left: 2em; padding: 2px; display: none;"></span></span><br>
        <textarea id="custom_slot" name="custom_slot" rows="20" cols="120" class="form-control custom-slot-control"
            style="display: none;">{
    "slot": "custom-test-slot",
    "description": "temporary test slot",
    "env": [],
    "platforms": ["x86_64_v2-centos7-gcc10-opt"],
    "projects": [
        {"name": "LCG", "version": "100", "disabled": true},
        {"name": "Gaudi", "version": "master"},
        {"name": "LHCb", "version": "master"}
    ]
}
</textarea>{%- else -%}
        <label for="custom_slot" id="custom-slot-label">Re-use and tune previous configuration (JSON)</label>
        <span class="custom-slot-control"><span id="json_error_message" class="alert-danger"
                style="margin-left: 2em; padding: 2px; display: none;"></span></span><br>
        <p class="custom-slot-control">This configuration was pre-filled from <a
                href="{{url_for('main', flavour=rebuild.flavour, slot=rebuild.slot, build_id=rebuild.build_id)}}"
                target="_blank">{{rebuild.flavour}}/{{rebuild.slot}}/{{rebuild.build_id}}</a> and
            can be fine tuned by hand. Note that <i>HEAD</i> version triggers an automatic fetch of all related MRs, so
            the final list of used MRs can be different from what listed in the configuration.</p>
        <textarea id="custom_slot" name="custom_slot" rows="20" cols="120" class="form-control custom-slot-control"
            style="display: none;">{{rebuild.config}}</textarea>
        {%- endif -%}
    </div>
    <br><br>
    <button class="btn btn-primary" id="submit_btn" type="submit" disabled data-toggle="modal"
        data-target="#please-wait" data-backdrop="static">Start selected slots</button>
</form>
<div class="modal" id="please-wait">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Preparing the slot configuration, be patient...
            </div>
        </div>
    </div>
</div>
{%- else -%}
<div class="alert alert-warning" role="alert" style="text-align: center;">
    No slot configured, I cannot start anything!
</div>
{%- endif %}
{% endblock %}

{% block extra_js %}
<script>
    // update controls according to custom_slot check box
    function custom_slot_state(checked) {
        if (checked) {
            $(".custom-slot-control").show();
            validate_json($("#custom_slot"));
        } else {
            $(".custom-slot-control").hide();
            $("#submit_btn").prop("disabled", $("#slots").prop("selectedIndex") < 0);
        }
        $("#slots").prop("disabled", checked);
    }

    function validate_json(textarea) {
        try {
            JSON.parse(textarea.val());
            textarea.removeClass("alert-danger");
            $("#json_error_message").hide();
            $("#submit_btn").prop("disabled", false);
        }
        catch (e) {
            textarea.addClass("alert-danger");
            $("#json_error_message").text(e).show();
            $("#submit_btn").prop("disabled", true);
        }
    }

    $("#use_custom_slot").change(function () {
        custom_slot_state(this.checked);
    });
    $("#custom-slot-label").click(function () {
        var checkbox = $("#use_custom_slot");
        var value = !checkbox.prop("checked");
        checkbox.prop("checked", value);
        custom_slot_state(value)
    });

    function adapt_to_screen_size() {
        $("#slots").css("height", Math.max($(window).height() - $("#slots").position().top - 260, 80) + "px");
    }

    // initialize state of unchanged boxes
    $(function () {
        custom_slot_state($("#use_custom_slot").prop("checked"));

        // make sure that the custom slot content is valid JSON
        $("#custom_slot").on("input", function () {
            validate_json($(this));
        })

        $("#slots").on("change", function () {
            $("#submit_btn").prop("disabled", this.selectedIndex < 0);
        });

        adapt_to_screen_size();
        $(window).resize(function () {
            adapt_to_screen_size();
        });
    });
</script>
{% endblock %}
