{% extends "base.html" %}
{% block main_content %}
<form method="post">
    <table width="100%">
        <tbody>
            <tr>
                <td width="50%" style="padding: 1ex;">
                    <div class="form-group">
                        <label for="slot">Slot:</label>
                        <select class="form-control" name="slot" id="slot" onchange="slot_selected()">
                            <option value="" disabled selected>select a slot</option>
                            {% for slot in builds_info | sort %}<option value="{{slot}}">{{slot}}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="build_id">Build id:</label>
                        <select class="form-control" name="build_id" id="build_id" onchange="build_selected()" disabled>
                            <option value="" disabled selected>select a build</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="project">Project:</label>
                        <select class="form-control" name="project" id="project" onchange="validate_form()" disabled>
                            <option value="" disabled selected>select a project</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="platform">Platform:</label>
                        <select class="form-control" name="platform" id="platform" onchange="validate_form()" disabled>
                            <option value="" disabled selected>select a platform</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="runner">Runner:</label>
                        <input class="form-control" name="runner" id="runner" value="lhcbpr">
                    </div>
                    <div class="form-group">
                        <label for="os_label">OS label:</label>
                        <input class="form-control" name="os_label" id="os_label" value="perf">
                    </div>
                </td>
                <td width="50%" style="padding: 1ex;">
                    <div class="form-group">
                        <label for="group_env">Group/Environment</label><br>
                        <select multiple id="group_env" name="group_env" class="form-control" style="height: 350px;"
                            onchange="config_selected()">
                        </select>
                    </div>
                    <span class="btn btn-primary glyphicon glyphicon-plus" id="add_config" data-toggle="modal"
                        data-target="#add_config_dialog" title="add new entry"></span>
                    <span class="btn btn-primary glyphicon glyphicon-minus disabled" id="remove_config"
                        data-toggle="modal" data-target="#confirm_remove_config" title="remove selected entries"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <span class="btn btn-info" onclick="reset_form(); return false;">Reset form</span>
        <button class="btn btn-primary" id="submit_btn" type="submit" disabled>Start test</button>
    </div>
</form>

<div id="add_config_dialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new configuration option</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="group">Group:</label>
                        <input class="form-control" name="group" id="group" value="" placehloder="Group">
                    </div>
                    <div class="form-group">
                        <label for="environment">Environment:</label>
                        <input class="form-control" name="environment" id="environment" value=""
                            placehloder="Environment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="add_config()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="confirm_remove_config" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove configuration options</h4>
            </div>
            <div class="modal-body">
                <p>Do you really want to remove the selected configurations?</p>
                <ul id="configs_to_remove">
                    <li>yak</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="remove_configs()">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    var builds_info = {{ builds_info | tojson }};

    function slot_selected() {
        var build_select = $("#build_id");
        build_select.html('<option value="" disabled selected>select a build</option>');

        var slot = $("#slot").val();
        if (slot) {
            var max_id = 0;
            $.each(builds_info[slot], function (id) {
                build_select.append(`<option value="${id}">${id}</option>`);
                max_id = Math.max(max_id, id);
            });
            build_select.prop("disabled", false)
            if (max_id > 0) build_select.val(max_id);
        } else {
            build_select.prop("disabled", true);
        }
        build_selected();
    };

    function build_selected() {
        var project_select = $("#project");
        project_select.html('<option value="" disabled selected>select a project</option>');

        var platform_select = $("#platform");
        platform_select.html('<option value="" disabled selected>select a platform</option>');

        var build = $("#build_id").val();
        var slot = $("#slot").val();
        if (slot && build) {
            $.each(builds_info[slot][build].projects, function (idx, name) {
                project_select.append(`<option value="${name}">${name}</option>`);
            });
            project_select.prop("disabled", false);
            $.each(builds_info[slot][build].platforms, function (idx, name) {
                platform_select.append(`<option value="${name}">${name}</option>`);
            });
            platform_select.prop("disabled", false);
        } else {
            project_select.prop("disabled", true);
            platform_select.prop("disabled", true);
        }
        validate_form();
    };

    function config_selected() {
        var keys = $("#group_env").val();
        if (keys) { $("#remove_config").removeClass("disabled"); } else { $("#remove_config").addClass("disabled"); }

        var ctr = $("#configs_to_remove");
        ctr.html("");
        $.each(keys, function (idx, key) {
            ctr.append("<li>" + $(`#group_env option[value=${key}]`).text() + "</li>");
        });

        validate_form();
    }

    function validate_form() {
        $("#submit_btn").prop("disabled",
            !($("#slot").val()
                && $("#build_id").val()
                && $("#project").val()
                && $("#platform").val()
                && $("#group_env").val()));
    }

    function set_config_options(options) {
        var configs = $("#group_env");
        configs.html("");
        $.each(options.configurations, function (idx, entry) {
            configs.append(`<option value="${entry.pk}">${entry.group} : ${entry.env}</option>`);
        });
        if (options.select != undefined && options.select >= 0) {
            configs.val(options.select);
        }
        config_selected();
    }

    function add_config() {
        if (!($("#group").val() && $("#environment").val())) {
            alert("Both Group and Environment should be filled.");
            return;
        }
        $.post("{{url_for('periodic_configs')}}",
            { action: "add", group: $("#group").val(), environment: $("#environment").val() },
            set_config_options);
        $("#add_config_dialog").modal("hide");
    }
    function remove_configs() {
        $.post("{{url_for('periodic_configs')}}",
            { action: "remove", keys: $("#group_env").val() },
            set_config_options);
        $("#confirm_remove_config").modal("hide");
    }

    function reset_form() {
        $("#slot").val("");
        $("#build_id").val("");
        $("#project").val("");
        $("#platform").val("");
        $("#group_env").val([]);
        $("#submit_btn").prop("disabled", true);
        $("#remove_config").addClass("disabled");
    }

    $(function () {
        if ($("#slot").val()) slot_selected();
        $.get("{{url_for('periodic_configs')}}", set_config_options);
        validate_form();
    });
</script>
{% endblock %}
