{% extends "log_base.html" %}

{% block log_type %}Test results{% endblock %}

{% block main_content %}
{% if report %}
{% if build_id %}<h3>Links</h3>
<ul>
    <li><a
            href="{{url_for('build', flavour=flavour, slot=slot, build_id=build_id, project=project, platform=platform)}}">
            build report
        </a></li>
    <li><a
            href="{{url_for('get_tests_summary', flavour=flavour, slot=slot, build_id=build_id, project=project, platform=platform)}}">
            raw test results (tests-report.json)
        </a></li>
    {% if report.build_tool == "cmake" %}<li><a
            href="{{url_for('get_tests_log', flavour=flavour, slot=slot, build_id=build_id, project=project, platform=platform)}}">
            raw test results (Test.xml)
        </a></li>{% endif %}
    {% if report.site and report.site.BUILD_URL -%}
    <li><a href="{{report.site.BUILD_URL}}" target="_blank">test job (Jenkins)</a></li>
    {%- endif %}
</ul>{% endif %}
<h3>Statistics</h3>
<table class="table" style="width: 250px;">
    <tbody>
        {% for status, level in [("passed", "success"), ("failed", "danger"), ("error", "danger"), ("skipped", "warning"), ("notrun", "warning"), ("untested", "warning")] %}
        {% if status in report.stats %}
        <tr class="alert-{{level}}">
            <th scope="row">{{status|capitalize}}</th>
            <td style="text-align: right;"><strong>{{report.stats[status]}}</strong></td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr class="alert-info" style="border-top: 2pt;">
            <th scope="row">Total</th>
            <td style="text-align: right;"><strong>{{report.stats.values()|sum}}</strong></td>
        </tr>
    </tbody>
</table>

<div id="spinner" class="text-primary">
    Loading...
</div>
<div id="results-wrapper" style="display: none;">
    <h3>Results
        <button class="btn btn-default"
            onclick="$('#results li.list-group-item-success').toggle(); $('#show-all-btn').toggle()">
            show/hide passed tests
        </button>
        <button class="btn btn-default" onclick="$('#results li.list-group-item').addClass('collapsed')">
            collapse all
        </button>
        {% if report.stats.failed or report.stats.error -%}
        <button class="btn btn-default"
            onclick="$('#results .list-group-item-danger.leaf').parents('li.collapsed').removeClass('collapsed')">
            show failed tests
        </button>
        {%- endif %}
        <button class="btn btn-default"
            {% if not (report.stats.skipped or report.stats.notrun or report.stats.untested) -%} id="show-all-btn"
            style="display: none;" {%- endif %}
            onclick="$('#results .leaf').parents('li.collapsed').removeClass('collapsed')">
            show all tests
        </button>
    </h3>
    {{report.tests|make_treeview(full)}}
</div>
{% else %}
<div class="alert alert-danger">Test results cannot be retrieved!</div>
{% endif %}
{% endblock %}


{% block extra_js %}
<style>
    #results .test-name {
        cursor: pointer;
    }

    #results .test-name a {
        visibility: hidden;
    }

    #results .causes {
        padding-left: 1em;
    }

    #results ul.list-group {
        margin: 0;
    }

</style>

<script>
    // add handler to expand/collapse big sections in test results
    function enable_expand_collapse_of_big_sections() {
        $(".tests-results .data table > tbody > tr > td > .big:not(.handler-added)").click(function () {
            $(this).toggleClass("full");
        }).addClass("handler-added").after($('<div>…</div>').click(function () {
            $(this).prev().toggleClass("full");
        }));
    }

    $(function () {
        // add handlers for expand/collapse levels and permalink icon
        $("#results .test-name").click(function () {
            var container = $(this).parent();
            container.toggleClass("collapsed");
            $("> ul > li > span.spinner", container).trigger("doLoad");
        }).mouseover(function () {
            $(this).children("a").css('visibility', 'visible');
        }).mouseout(function () {
            $(this).children("a").css('visibility', 'hidden');
        });
        $("#results .spinner").on("doLoad", function () {
            $(this).parent().load("?test_body=" + $(this).attr("test_id"), enable_expand_collapse_of_big_sections);
            return false;
        });
        enable_expand_collapse_of_big_sections();
        // if we want a specific test, we display it and its parents, then jump to it.
        var anchor = $(location).attr("hash");

        if (anchor) {
            var selector = anchor.replace(/\./g, '\\.');
            var elem = $(selector);
            if (elem.hasClass("list-group-item-success")) {
                // the element is a "passed" case, hidden by default, so we should unhide the
                // passed items otherwise we get an inconsistency
                $('#results li.list-group-item-success').toggle();
            }
            elem.removeClass("collapsed").parents("li.collapsed").removeClass("collapsed");
            $("> ul > li > span.spinner", elem).trigger("doLoad");
            $(location).attr("hash", anchor);  // jump to the anchor now that it's visible
        } else {
            // otherwise we expand the chains down to failed tests leaf nodes
            $("#results .list-group-item-danger.leaf").parents("li.collapsed").removeClass("collapsed");
        }
        $("#spinner").hide();
        $("#results-wrapper").show();
    })
</script>
{% endblock %}
